/* Your Styles Here */
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: lightgray;
    text-align: center;
    border-radius: 12px;
    padding: 30px;
    margin: 50px;
    width: 400px;
    box-shadow: 10px 10px rgb(170, 138, 170)
}

.header {
    font-family: "Courier New", monospace;
    text-transform: uppercase;
}
